.infoComponent {
    /* width: 100%; */
    height: 400px;
    background: rgb(37, 37, 38);
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 100px;
    display: flex;
    /* justify-content: space-evenly; */
}

.imgBackground {
    background-image: url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    width: 50%;
    height: 100%;
}

.infoDescription {
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 10px;
    justify-content: space-evenly;
}

.title {
    margin-top: 30px;
    margin-bottom: 0px;
}

.infoButton {
    width: 120px;
    height: 40px;
    /* margin-top: 20px; */
    font-size: 15px;
    border: 2px white solid;
    background-color: black;
    color: white;
    font-weight: 600;
    position: relative;
    bottom: 30px;
}

.infoParagraph {
    color: rgb(102, 105, 103);
}