.navbar {
    background: gray;
    width: 58%;
    height: 75px;
}

.menuList {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.menuList li {
    float: left;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 10px;
    padding-right: 10px;
}