.displayComponent {
    /* background: rgb(37, 37, 38); */
    background: black;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 50px;
    display: flex;
    display: flex;
    flex-direction: column;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.displayButton {
    width: 120px;
    height: 40px;
    /* margin-top: 20px; */
    font-size: 15px;
    border: 2px white solid;
    background-color: black;
    color: white;
    font-weight: 600;
}