.bottomComponent {
    background: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.bottomComponent > div {
   
}

.linksElement {
    color: white;
}

.linksElement > p {
    margin-bottom: 5px;
}

.bottomCompButton {
    width: 120px;
    height: 40px;
    /* margin-top: 20px; */
    font-size: 15px;
    border: 2px white solid;
    background-color: black;
    color: white;
    font-weight: 600;
}