.bottomComponent {
    background: gray;
    display: flex;
    flex-direction: row;
}

.linksElement {
    color: white;
}

.linksElement > p {
    margin-bottom: 5px;
}

.bottomCompButton {
    width: 120px;
    height: 40px;
    /* margin-top: 20px; */
    font-size: 15px;
    border: 2px white solid;
    background-color: black;
    color: white;
    font-weight: 600;
}