.bottomComponent {
    background: rgb(37, 37, 38);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
    align-items: flex-start;
    padding-top: 2%;
    padding-bottom: 2%;
}

.input {
    
}

.linksElement {
    color: white;
    width: 30%;
    padding-left: 5%;
    font-size: 14px;
}

.linksElement > p {
    margin-bottom: 5px;
}

.emailComponent {
    width: 30%;
    font-size: 14px;
    color: white;
}

.bottomCompButton {
    width: 120px;
    height: 40px;
    /* margin-top: 20px; */
    font-size: 15px;
    border: 2px white solid;
    background-color: black;
    color: white;
    font-weight: 600;
}