.blockElement {
    width: 280px;
    height: 280px;
    background: blue;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 280px;
    position: relative;
    bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}